


body {
    font-family: 'DB Adman X', Helvetica, sans-serif;
    font-size: 24px;
    line-height: 14px;
    margin: 0;
    color: #000;
    background-color: #fff;
    /*-webkit-font-smoothing: antialiased !important;*/
}

img{
    border:none;
}

.f-left{ float:left;}
.f-right{ float:right;}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

h1{
  
}
h2{
  
}
h4{
  
}

p{
  
}

a,a:hover,a:active,a:focus{
  text-decoration: none;
  cursor: pointer;
}

p,span,label,a,h1,h2,h3,h4,h5,h6{
  
}

h1,h2,h3,h4,h5,h6{
}


.t-black{
  color: #000 !important;
}

.t-white{
  color:#fff !important;
}


.nopadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.noborder{
  border:none !important;
}
.clear{
    clear:both;
}

.clear-padding{
    padding:0;
}

.clear-margin{
    margin:0;
}

.visible-xxs{display: none !important;}
.hidden-xxs{display: block !important;}

/* ------------------------------------------------ */
/* ------------ PADDING & MARGIN ------------------ */
/* ------------------------------------------------ */

.padding-0{padding: 0px !important}

.margin-top-0{margin-top: 0px !important}
.margin-top-5{margin-top: 5px !important}
.margin-top-10{margin-top: 10px !important}
.margin-top-15{margin-top: 15px !important}
.margin-top-20{margin-top: 20px !important}
.margin-top-30{margin-top: 30px !important}
.margin-top-40{margin-top: 40px !important}
.margin-top-50{margin-top: 50px !important}
.margin-top-80{margin-top: 80px !important}
.margin-top-100{margin-top: 100px !important}

.margin-bottom-0{margin-bottom: 0px !important}
.margin-bottom-5{margin-bottom: 5px !important}
.margin-bottom-10{margin-bottom: 10px !important}
.margin-bottom-15{margin-bottom: 15px !important}
.margin-bottom-20{margin-bottom: 20px !important}
.margin-bottom-30{margin-bottom: 30px !important}
.margin-bottom-40{margin-bottom: 40px !important}
.margin-bottom-50{margin-bottom: 50px !important}

.margin-left-0{margin-left: 0px !important}
.margin-left-5{margin-left: 5px !important}
.margin-left-10{margin-left: 10px !important}
.margin-left-15{margin-left: 15px !important}
.margin-left-20{margin-left: 20px !important}
.margin-left-30{margin-left: 30px !important}
.margin-left-40{margin-left: 40px !important}
.margin-left-50{margin-left: 50px !important}

.margin-right-0{margin-right: 0px !important}
.margin-right-5{margin-right: 5px !important}
.margin-right-10{margin-right: 10px !important}
.margin-right-15{margin-right: 15px !important}
.margin-right-20{margin-right: 20px !important}
.margin-right-30{margin-right: 30px !important}
.margin-right-40{margin-right: 40px !important}
.margin-right-50{margin-right: 50px !important}

.padding-left-0{padding-left: 0px !important}
.padding-left-5{padding-left: 5px !important}
.padding-left-10{padding-left: 10px !important}
.padding-left-15{padding-left: 15px !important}
.padding-left-20{padding-left: 20px !important}
.padding-left-30{padding-left: 30px !important}
.padding-left-40{padding-left: 40px !important}
.padding-left-50{padding-left: 50px !important}

.padding-right-0{padding-right: 0px !important}
.padding-right-5{padding-right: 5px !important}
.padding-right-10{padding-right: 10px !important}
.padding-right-15{padding-right: 15px !important}
.padding-right-20{padding-right: 20px !important}
.padding-right-30{padding-right: 30px !important}
.padding-right-40{padding-right: 40px !important}
.padding-right-50{padding-right: 50px !important}
.padding-right-60{padding-right: 60px !important}
.padding-right-75{padding-right: 75px !important}

.padding-bottom-0{padding-bottom: 0px !important}
.padding-bottom-5{padding-bottom: 5px !important}
.padding-bottom-10{padding-bottom: 10px !important}
.padding-bottom-15{padding-bottom: 15px !important}
.padding-bottom-20{padding-bottom: 20px !important}
.padding-bottom-30{padding-bottom: 30px !important}
.padding-bottom-40{padding-bottom: 40px !important}
.padding-bottom-50{padding-bottom: 50px !important}

.padding-top-0{padding-top: 0px !important}
.padding-top-5{padding-top: 5px !important}
.padding-top-10{padding-top: 10px !important}
.padding-top-15{padding-top: 15px !important}
.padding-top-20{padding-top: 20px !important}
.padding-top-30{padding-top: 30px !important}
.padding-top-40{padding-top: 40px !important}
.padding-top-50{padding-top: 50px !important}

#container{position: fixed;width: 100%;height: 100%;}

.view-container{width: 450px;height: 720px;background-color: #abdff1;position: relative;left: 50%;margin-left: -207px;top: 50%;margin-top: -368px;}

/* ------------------------------------------------ */
/* ------------------- Intro ---------------------- */
/* ------------------------------------------------ */



/* Generated with Bounce.js. Edit at https://goo.gl/Ucypqm */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.7% { -webkit-transform: matrix3d(0.755, 0, 0, 0, 0, 0.733, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.755, 0, 0, 0, 0, 0.733, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(0.81, 0, 0, 0, 0, 0.77, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.81, 0, 0, 0, 0, 0.77, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.41% { -webkit-transform: matrix3d(0.966, 0, 0, 0, 0, 0.865, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.966, 0, 0, 0, 0, 0.865, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(1.058, 0, 0, 0, 0, 0.919, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.058, 0, 0, 0, 0, 0.919, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.11% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.168, 0, 0, 0, 0, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.168, 0, 0, 0, 0, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.17, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.17, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(1.125, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.125, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.71% { -webkit-transform: matrix3d(1.122, 0, 0, 0, 0, 1.095, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.122, 0, 0, 0, 0, 1.095, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.62% { -webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.031, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.62% { -webkit-transform: matrix3d(0.955, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.955, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(0.934, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.934, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.52% { -webkit-transform: matrix3d(0.93, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.43% { -webkit-transform: matrix3d(0.988, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.988, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.996, 0, 0, 0, 0, 0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.33% { -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 0.959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.028, 0, 0, 0, 0, 0.959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.05% { -webkit-transform: matrix3d(0.988, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.988, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.86% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.57% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.38% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.19% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.6, 0, 0, 0, 0, 0.6, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.7% { -webkit-transform: matrix3d(0.755, 0, 0, 0, 0, 0.733, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.755, 0, 0, 0, 0, 0.733, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(0.81, 0, 0, 0, 0, 0.77, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.81, 0, 0, 0, 0, 0.77, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.41% { -webkit-transform: matrix3d(0.966, 0, 0, 0, 0, 0.865, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.966, 0, 0, 0, 0, 0.865, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(1.058, 0, 0, 0, 0, 0.919, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.058, 0, 0, 0, 0, 0.919, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.11% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.168, 0, 0, 0, 0, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.168, 0, 0, 0, 0, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.17, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.17, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(1.125, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.125, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.71% { -webkit-transform: matrix3d(1.122, 0, 0, 0, 0, 1.095, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.122, 0, 0, 0, 0, 1.095, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.62% { -webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.031, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.62% { -webkit-transform: matrix3d(0.955, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.955, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(0.934, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.934, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.52% { -webkit-transform: matrix3d(0.93, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.43% { -webkit-transform: matrix3d(0.988, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.988, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.996, 0, 0, 0, 0, 0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.33% { -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 0.959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.028, 0, 0, 0, 0, 0.959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.05% { -webkit-transform: matrix3d(0.988, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.988, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.86% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.57% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.38% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.19% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


@-webkit-keyframes inst-rotate { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.9% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.985, -0.174, 0, 0, 0.174, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.985, -0.174, 0, 0, 0.174, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.64% { -webkit-transform: matrix3d(1.06, -0.116, 0, 0, 0.116, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.06, -0.116, 0, 0, 0.116, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.68% { -webkit-transform: matrix3d(1.064, -0.11, 0, 0, 0.11, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.064, -0.11, 0, 0, 0.11, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.26% { -webkit-transform: matrix3d(1.086, -0.033, 0, 0, 0.033, 1.086, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.086, -0.033, 0, 0, 0.033, 1.086, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.36% { -webkit-transform: matrix3d(1.086, -0.02, 0, 0, 0.02, 1.086, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.086, -0.02, 0, 0, 0.02, 1.086, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.78% { -webkit-transform: matrix3d(1.076, 0.023, 0, 0, -0.023, 1.076, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.076, 0.023, 0, 0, -0.023, 1.076, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.04% { -webkit-transform: matrix3d(1.064, 0.042, 0, 0, -0.042, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.064, 0.042, 0, 0, -0.042, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.3% { -webkit-transform: matrix3d(1.05, 0.054, 0, 0, -0.054, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05, 0.054, 0, 0, -0.054, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.72% { -webkit-transform: matrix3d(1.027, 0.06, 0, 0, -0.06, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.027, 0.06, 0, 0, -0.06, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.34% { -webkit-transform: matrix3d(0.999, 0.047, 0, 0, -0.047, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0.047, 0, 0, -0.047, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.5% { -webkit-transform: matrix3d(1.005, 0.042, 0, 0, -0.042, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0.042, 0, 0, -0.042, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(1.019, 0.024, 0, 0, -0.024, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.019, 0.024, 0, 0, -0.024, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.26% { -webkit-transform: matrix3d(1.023, 0.012, 0, 0, -0.012, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0.012, 0, 0, -0.012, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.6% { -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.024, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.05% { -webkit-transform: matrix3d(1.022, -0.011, 0, 0, 0.011, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.022, -0.011, 0, 0, 0.011, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.65% { -webkit-transform: matrix3d(1.014, -0.018, 0, 0, 0.018, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.014, -0.018, 0, 0, 0.018, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.81% { -webkit-transform: matrix3d(1.012, -0.018, 0, 0, 0.018, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, -0.018, 0, 0, 0.018, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.67% { -webkit-transform: matrix3d(1, -0.012, 0, 0, 0.012, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.012, 0, 0, 0.012, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.35% { -webkit-transform: matrix3d(1.005, -0.004, 0, 0, 0.004, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, -0.004, 0, 0, 0.004, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.93% { -webkit-transform: matrix3d(1.007, 0.002, 0, 0, -0.002, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.007, 0.002, 0, 0, -0.002, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.89% { -webkit-transform: matrix3d(1.004, 0.006, 0, 0, -0.006, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0.006, 0, 0, -0.006, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.01% { -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.27% { -webkit-transform: matrix3d(1.002, -0.001, 0, 0, 0.001, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, -0.001, 0, 0, 0.001, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.97% { -webkit-transform: matrix3d(1.002, -0.002, 0, 0, 0.002, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, -0.002, 0, 0, 0.002, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.35% { -webkit-transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.61% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.06% { -webkit-transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.94% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.14% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes inst-rotate { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.9% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.985, -0.174, 0, 0, 0.174, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.985, -0.174, 0, 0, 0.174, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.64% { -webkit-transform: matrix3d(1.06, -0.116, 0, 0, 0.116, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.06, -0.116, 0, 0, 0.116, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.68% { -webkit-transform: matrix3d(1.064, -0.11, 0, 0, 0.11, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.064, -0.11, 0, 0, 0.11, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.26% { -webkit-transform: matrix3d(1.086, -0.033, 0, 0, 0.033, 1.086, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.086, -0.033, 0, 0, 0.033, 1.086, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.36% { -webkit-transform: matrix3d(1.086, -0.02, 0, 0, 0.02, 1.086, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.086, -0.02, 0, 0, 0.02, 1.086, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.78% { -webkit-transform: matrix3d(1.076, 0.023, 0, 0, -0.023, 1.076, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.076, 0.023, 0, 0, -0.023, 1.076, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.04% { -webkit-transform: matrix3d(1.064, 0.042, 0, 0, -0.042, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.064, 0.042, 0, 0, -0.042, 1.064, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.3% { -webkit-transform: matrix3d(1.05, 0.054, 0, 0, -0.054, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05, 0.054, 0, 0, -0.054, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.72% { -webkit-transform: matrix3d(1.027, 0.06, 0, 0, -0.06, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.027, 0.06, 0, 0, -0.06, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.34% { -webkit-transform: matrix3d(0.999, 0.047, 0, 0, -0.047, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0.047, 0, 0, -0.047, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.5% { -webkit-transform: matrix3d(1.005, 0.042, 0, 0, -0.042, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0.042, 0, 0, -0.042, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(1.019, 0.024, 0, 0, -0.024, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.019, 0.024, 0, 0, -0.024, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.26% { -webkit-transform: matrix3d(1.023, 0.012, 0, 0, -0.012, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0.012, 0, 0, -0.012, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.6% { -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.024, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.05% { -webkit-transform: matrix3d(1.022, -0.011, 0, 0, 0.011, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.022, -0.011, 0, 0, 0.011, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.65% { -webkit-transform: matrix3d(1.014, -0.018, 0, 0, 0.018, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.014, -0.018, 0, 0, 0.018, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.81% { -webkit-transform: matrix3d(1.012, -0.018, 0, 0, 0.018, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, -0.018, 0, 0, 0.018, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.67% { -webkit-transform: matrix3d(1, -0.012, 0, 0, 0.012, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.012, 0, 0, 0.012, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.35% { -webkit-transform: matrix3d(1.005, -0.004, 0, 0, 0.004, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, -0.004, 0, 0, 0.004, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.93% { -webkit-transform: matrix3d(1.007, 0.002, 0, 0, -0.002, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.007, 0.002, 0, 0, -0.002, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.89% { -webkit-transform: matrix3d(1.004, 0.006, 0, 0, -0.006, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0.006, 0, 0, -0.006, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.01% { -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.27% { -webkit-transform: matrix3d(1.002, -0.001, 0, 0, 0.001, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, -0.001, 0, 0, 0.001, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.97% { -webkit-transform: matrix3d(1.002, -0.002, 0, 0, 0.002, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, -0.002, 0, 0, 0.002, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.35% { -webkit-transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.61% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.06% { -webkit-transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.94% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.14% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}










.t-click{
  -webkit-transition: 0.25s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.25s cubic-bezier(0.23,1,0.32,1);
  transition: 0.25s all cubic-bezier(0.23,1,0.32,1);
}
.t-animate-fast{
  -webkit-transition: 0.45s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.45s cubic-bezier(0.23,1,0.32,1);
  transition: 0.45s all cubic-bezier(0.23,1,0.32,1);
}
.t-animate-ans{
  -webkit-transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
}
.t-animate{
  -webkit-transition: 0.7s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.7s cubic-bezier(0.23,1,0.32,1);
  transition: 0.7s all cubic-bezier(0.23,1,0.32,1);
}
.t-animate-slow{
  -webkit-transition: 0.9s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.9s cubic-bezier(0.23,1,0.32,1);
  transition: 0.9s all cubic-bezier(0.23,1,0.32,1);
}

.please-rotate{display: none;background-color: rgba(244,244,244,1);position: fixed;width: 100%;height: 100%;top: 0px;left: 0px;z-index: 1000}
.please-rotate img{width: 100px;position: absolute;left: 50%;margin-left: -50px;top: 50%;margin-top: -30px;}
.intro-main{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px}
.intro{position: relative;width: 100%;height: 100%;}
.top-shade{position: absolute;top: -11%;left: 0px;width: 100%;opacity: 0.8}
.shade-loading{position: absolute;top: -11%;left: 0px;width: 100%;}
.top-shade.h_hide{opacity: 0}
.shade-loading.h_hide{opacity: 0}
.shade-loading img{width: 100%;position: absolute;top: 0px;left: 0px;}
@keyframes shade1{0%{opacity:1;}25%{opacity:0;}50%{opacity:0;}75%{opacity:0;}100%{opacity:1;}}
@keyframes shade2{0%{opacity:0;}25%{opacity:1;}50%{opacity:0;}75%{opacity:0;}100%{opacity:0;}}
@keyframes shade3{0%{opacity:0;}25%{opacity:0;}50%{opacity:1;}75%{opacity:0;}100%{opacity:0;}}
@keyframes shade4{0%{opacity:0;}25%{opacity:0;}50%{opacity:0;}75%{opacity:1;}100%{opacity:0;}}
.shade-loading .shade-1{animation-name: shade1;animation-duration: 1.6s;animation-iteration-count: infinite;}
.shade-loading .shade-2{animation-name: shade2;animation-duration: 1.6s;animation-iteration-count: infinite;}
.shade-loading .shade-3{animation-name: shade3;animation-duration: 1.6s;animation-iteration-count: infinite;}
.shade-loading .shade-4{animation-name: shade4;animation-duration: 1.6s;animation-iteration-count: infinite;}


.seven{position: absolute;width: 36%;left: 32%;top:1.2%;}
.seven.h_hide{
  opacity: 0;
     -webkit-transition: 0.9s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.9s cubic-bezier(0.23,1,0.32,1);
  transition: 0.9s all cubic-bezier(0.23,1,0.32,1);
}

@keyframes logo{
    0%   {margin-top: 0px}
    50%  {margin-top: 7px}
    100% {margin-top: 0px}
}
.logo{position: absolute;width: 80%;left: 10%;top:10%;
    transform-origin: center top;
    -ms-transform: scale(0.7); 
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    z-index: 120;
}

.logo.open{
    animation: animation 1000ms linear;
    top:  9%;
}
.logo.swing{
  animation: logo ease-in-out infinite 1.8s;
  -ms-transform: scale(1); 
    -webkit-transform: scale(1);
    transform: scale(1);
   
}
.logo.inst{
  -ms-transform: scale(0.45); 
    -webkit-transform: scale(0.45);
    transform: scale(0.45);
    top:  8%;
     -webkit-transition: 0.9s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.9s cubic-bezier(0.23,1,0.32,1);
  transition: 0.9s all cubic-bezier(0.23,1,0.32,1);
}
.logo.h_hide{
  opacity: 0;
     -webkit-transition: 0.9s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.9s cubic-bezier(0.23,1,0.32,1);
  transition: 0.9s all cubic-bezier(0.23,1,0.32,1);
}

.bottom{position: absolute;width: 100%;left: 0px;bottom:-10%;}
.bottom.game-bottom{bottom: -13%}

.intro .intro-text{width: 56%;left: 22%;top:43.5%;position: absolute;}
/*.intro .intro-text.hide{opacity: 0}*/
.intro .loading{width: 70%;left: 15%;top:62%;position: absolute;height: 6.2%;z-index: 20;}
/*.intro .loading.hide{opacity: 0}*/
.intro .loading img{width: 100%;;height:100%;position: absolute;z-index: 10}
.intro .loading-bar{position: absolute;left: 1.5%;top: 2%;height: calc(100% - 33%);width: calc(100% - 3%);background: #F65A60;border-top:9px solid #DB5660;}
.intro .loading-bar.animate{animation-name: load;animation-duration: 4s;animation-iteration-count: 1;}
@keyframes load{
    0%   {width: calc(0% - 2.4%)}
    40%  {width: calc(65% - 2.4%)}
    100% {width: calc(100% - 2.4%)}
}
.intro .next{position: absolute;width: 56%;left: 22%;top: 55.5%;display: none;opacity: 0;cursor: pointer;z-index: 30}
.intro .next img{width: 100%}
/*.intro .next:hover{margin-top: 6px;opacity: 0.7}*/
.intro .next:active{margin-top: 1px;opacity: 0.7 !important;-ms-transform: scale(0.97); z-index: 200;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);}

.intro-bottom{position: absolute;width: 86%;left: 5%;bottom: 2%;opacity: 0}
.intro-bottom.intro-show{opacity: 1}
/* ------------------------------------------------ */
/* ------------------- Inst ----------------------- */
/* ------------------------------------------------ */

.instruction{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;z-index: 50;display: none;opacity: 0;margin-top: 30px}
.instruction.inst-show{opacity: 1;margin-top: 0px;}
.instruction.close{opacity: 0;-ms-transform: scale(0.4); 
    -webkit-transform: scale(0.4);
    transform: scale(0.4);}
.instruction .inst-container{position: relative;width: 310px;left: 50%;margin-left: -155px;height: 350px;margin-top: 27.5%;border:solid 2px #d7ccc7;background-color: #f1f1d9;border-radius: 8px;overflow}
.instruction .inst-container:before {content: " ";position: absolute;z-index: -1;top: -5px;left: -5px;right: -5px;bottom: -5px;border: 5px solid #fff;border-radius: 10px;}
.instruction .inst-container .inst-box{position: absolute;width: 100%;height: 100%;border-radius: 6px;overflow:hidden;}
.instruction .inst-container .inst-box img.main{position: absolute;width: 100%;bottom: 0px}
.instruction .inst-container .inst-box .step{position: absolute;right: 12px;top: 15px;width: 45px;}
.instruction .inst-container .inst-box.inst2{opacity: 0}

.instruction .inst-container .inst-box.inst2 .inst2-yes{position: absolute;width: 80px;bottom: 24px;left: 15px;animation:inst-rotate 5000ms linear infinite both}
.instruction .inst-container .inst-box.inst2 .inst2-no{position: absolute;width: 72px;bottom: 22px;right: 15px;animation:inst-rotate 5000ms 600ms linear infinite both}

.instruction .inst-container .inst-box.inst3{opacity: 0}

.instruction .inst-button{width: 100%;position: relative;text-align: center;padding-top: 15px;}
.instruction .inst-button .inst-button-item{width: 110px;position: relative;display: inline-block;margin-left: 4px;margin-right: 4px;vertical-align: top;}
.instruction .inst-button .inst-button-item img{width: 100%}
.instruction .inst-button .inst-button-item:active{margin-top: 0px;opacity: 0.7 !important;-ms-transform: scale(0.96); 
    -webkit-transform: scale(0.96);
    transform: scale(0.96);}

/* ------------------------------------------------ */
/* ------------------- Game ----------------------- */
/* ------------------------------------------------ */

.game{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;z-index: 50;display: none;opacity: 0;margin-top: 30px}
.game.game-show{opacity: 1;margin-top: 0px;}
.game.close{opacity: 0;-ms-transform: scale(0.4); 
    -webkit-transform: scale(0.4);
    transform: scale(0.4);}

.overlay-right{position: absolute;top:0px;left:0px;width: 100%;height: 100%;background:url('../images/game/right-bg.png');background-size:100% 100%;z-index: 200;display: none;opacity: 0}
.overlay-right img{width: 40%;left: 30%;top: 37%;position: absolute;margin-top: -30px}
.overlay-right.ans-show{opacity: 1}
.overlay-right.ans-show img{margin-top: 0px}

.overlay-wrong{position: absolute;top:0px;left:0px;width: 100%;height: 100%;background:url('../images/game/wrong-bg.png');background-size:100% 100%;z-index: 200;display: none;opacity: 0}
.overlay-wrong img{width: 40%;left: 30%;top: 37%;position: absolute;margin-top: -30px}
.overlay-wrong.ans-show{opacity: 1}
.overlay-wrong.ans-show img{margin-top: 0px}

.game .point-container{width: 100%;position: absolute;text-align: center;padding-top: 0px;top: 1.8%}
.game .point-container .point-item{width: 32%;position: relative;display: inline-block;margin-left: 4px;margin-right: 4px;vertical-align: top;height: 50px;opacity: 0;margin-top: -70px}
.game .point-container .point-item.point-show{opacity: 1;margin-top: 0px;}
.game .point-container .point-item img{width: 100%;position: absolute;left: 0px;top: 0px}
.game .point-container .point-item.point-item-time{width: 36%;}
.game .point-container .point-item.point-item-time img{margin-top: 4px}
.game .point-container .point-item span{position: absolute;color: #fff;z-index: 10;top: 50%;margin-top: -1px;font-family: 'DB Adman X';font-size: 20px}

.game .game-container{position: relative;width: 310px;left: 50%;margin-left: -155px;height: 350px;margin-top: 30%;border:solid 2px #d7ccc7;background-color: #f1f1d9;border-radius: 8px}
.game .game-container:before {content: " ";position: absolute;z-index: -1;top: -5px;left: -5px;right: -5px;bottom: -5px;border: 5px solid #fff;border-radius: 10px;}

.game .game-container .title{width: 90%;left: 5%;position: absolute;top: -45px;opacity: 0;-ms-transform:scale(0.4); 
    -webkit-transform: scale(0.4);  
    transform: scale(0.4);}
.game .game-container .title.title-show{opacity: 1;-ms-transform:scale(1); 
    -webkit-transform: scale(1);
    transform: scale(1);}
.game .game-container .plastic1{width: 65px;left: -30px;position: absolute;bottom: -20px}
.game .game-container .plastic2{width: 61px;right: -33px;position: absolute;bottom: -20px}
.game .game-container .product-name{width: 100%;text-align: center;position: relative;display: inline-block;font-weight: bold;padding-top: 70px;color: #754C24;font-size: 30px;opacity: 0}
.game .game-container .product-name.product-show{opacity: 1}
.game .game-container .product-img{width: 100%;position: relative;display: inline-block;text-align: center;margin-top: 20px;opacity: 0;-ms-transform:scale(0.6); 
    -webkit-transform: scale(0.6);
    transform: scale(0.6);}
.game .game-container .product-img.product-show{opacity: 1;-ms-transform:scale(1); 
    -webkit-transform: scale(1);
    transform: scale(1);}
.game .game-container .product-img img{position: relative;display: inline-block;width: 200px;}

.game .game-button{width: 100%;position: relative;text-align: center;padding-top: 25px;}
.game .game-button .game-button-item{width: 32%;position: relative;display: inline-block;margin-left: 4px;margin-right: 4px;vertical-align: top;}
.game .game-button .game-button-item img{width: 100%}
.game .game-button .game-button-item:active{margin-top: 0px;opacity: 0.7 !important;-ms-transform: scale(0.96); 
    -webkit-transform: scale(0.96);
    transform: scale(0.96);}



/* ------------------------------------------------ */
/* ------------------- Sum ------------------------ */
/* ------------------------------------------------ */

.sum{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;z-index: 50;display: none;opacity: 0;-ms-transform:scale(0.6); 
    -webkit-transform: scale(0.6);  
    transform: scale(0.6);}
.sum.sum-show{margin-top: 0px;opacity: 1;-ms-transform:scale(1); 
    -webkit-transform: scale(1);  
    transform: scale(1);}
.sum .sum-logo{position: absolute;width: 26%;left: 37%;top: 2%}
.sum .sum-container{position: relative;width: 310px;left: 50%;margin-left: -155px;height: 350px;margin-top: 26%;border:solid 2px #d7ccc7;background-color: #f1f1d9;border-radius: 8px;z-index: 10}
.sum .sum-container:before {content: " ";position: absolute;z-index: -1;top: -5px;left: -5px;right: -5px;bottom: -5px;border: 5px solid #fff;border-radius: 10px;}

.sum .sum-container .bag{width: 116%;left:-8%;position: absolute;top:-14%;}
.sum .sum-container .point{width: 36%;left: 32%;position: relative;margin-top: 15px}
.sum .sum-container .point-count{position: relative;display: inline-block;width: 100%;margin-top: 15px;font-weight: bold;text-align: center;font-size: 34px;color: #FBB03B}
.sum .sum-container .point-count .number{color: #d48104}

.sum .sum-container .qoute-container{position: relative;width: 100%;display: inline-block;text-align: center;margin-top: 20px}
.sum .sum-container .qoute{width: 80%;position: relative;display: inline-block;}

.sum .sum-button{width: 100%;position: relative;text-align: center;margin-top: -25px;z-index: 13}
.sum .sum-button .sum-button-item{position: relative;display: inline-block;margin-left: 4px;margin-right: 4px;vertical-align: top;}
.sum .sum-button .sum-button-item.address{width: 65%;left: 3px}
.sum .sum-button .sum-button-item.back{width: 32%;left: 3px}
.sum .sum-button .sum-button-item img{width: 100%}
.sum .sum-button .sum-button-item:active{margin-top: 0px;opacity: 0.7 !important;-ms-transform: scale(0.96); 
    -webkit-transform: scale(0.96);
    transform: scale(0.96);}
.sum .sum-button .sum-thank{position: relative;display: inline-block;width: 40%;margin-top: 5px}

.sum-tree{position: absolute;width: 100%;left: 0%;left: 0%;bottom: 1%;opacity: 0;z-index: 10}
.sum-tree.tree-show{opacity: 1}
/* ------------------------------------------------ */
/* ------------------- Regis ---------------------- */
/* ------------------------------------------------ */

.regis{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;z-index: 50;display: none;opacity: 0;margin-top: 30px}
.regis.regis-show{opacity: 1;margin-top: 0px;}
.regis .regis-container{position: relative;width: 310px;left: 50%;margin-left: -155px;height: 390px;margin-top: 26%;background-color: #f1f1d9;border-radius: 8px;border: solid 1px #d7ccc7;text-align: center;}
.regis .regis-container:before {content: " ";position: absolute;z-index: -1;left: -5px;right: -5px;bottom: -5px;border: 5px solid #fff;border-radius: 10px;top: -5px;}
.regis .regis-container .regis-logo{position: absolute;width: 70%;left: 15%;top: -25%;z-index: 100}
.regis .regis-container .regis-text{position: relative;display: inline-block;width: 80%;margin-top: 35px;margin-bottom: 6px}
.regis .regis-container .regis-input{position: relative;display: inline-block;width: 240px;border-radius: 5px;border:none;font-size: 22px;margin-bottom: 7px;z-index: 100;outline: none;padding-left: 8px;padding-right: 8px;line-height: 24px;padding-top: 10px;background-color: #A1887F;letter-spacing: 0.5px;font-family: 'db adman x'}
.regis .regis-container .regis-desc{position: relative;display: inline-block;width: 240px;border-radius: 5px;border:none;font-size: 19px;margin-bottom: 7px;z-index: 100;height: 70px;outline: none;padding-top: 10px;padding: 8px;background-color: #A1887F;letter-spacing: 0.5px;resize: none;font-family: 'db adman x';}
::-webkit-input-placeholder {text-align: center;color:#231F20;}
:-moz-placeholder {text-align: center;color:#231F20}
::-moz-placeholder {text-align: center;color:#231F20}
:-ms-input-placeholder {text-align: center;color:#231F20}

.regis .regis-button{width: 100%;position: relative;text-align: center;margin-top: -15px;z-index: 13}
.regis .regis-button .regis-button-item{position: relative;display: inline-block;margin-left: 4px;margin-right: 4px;vertical-align: top;}
.regis .regis-button .regis-button-item.sent{width: 25%;left: 3px}
.regis .regis-button .regis-button-item.share{width: 20%;left: 3px;top: 10px;margin-bottom: 5px;}
.regis .regis-button .regis-button-item.back{width: 30%;left: 3px;margin-top: 15px}

.regis .regis-button .regis-button-item img{width: 100%}
.regis .regis-button .regis-button-item:active{margin-top: 0px;opacity: 0.7 !important;-ms-transform: scale(0.96); 
    -webkit-transform: scale(0.96);
    transform: scale(0.96);}
.regis .regis-button .regis-thank{position: relative;display: inline-block;width: 40%;margin-top: 5px}

.regis-bag{position: absolute;width: 80%;left: 10%;bottom: -3%;opacity: 0;z-index: 10}
.regis-bag.regis-show{opacity: 1}

/* ------------------------------------------------ */
/* ------------------- Regis Popup ---------------- */
/* ------------------------------------------------ */

.regis-popup{width: 100%;height: 100%;position: fixed;top:0px;left: 0px;z-index: 1000;background-color: rgba(255,255,255,0.94);display: none;opacity: 0}
.regis-popup.popup-open{opacity: 1}
.regis-popup .regis-container{position: relative;width: 310px;left: 50%;margin-left: -155px;height: 250px;margin-top: 170px;background-color: #f1f1d9;border-radius: 8px;border: solid 1px #d7ccc7;text-align: center}
.regis-popup .regis-container:before {content: " ";position: absolute;z-index: -1;left: -5px;right: -5px;bottom: -5px;border: 5px solid #fff;border-radius: 10px;top: -5px;}

.regis-popup .regis-container .popup-logo{width: 160px;position: absolute;left: 50%;margin-left: -80px;top: -60px}
.regis-popup .regis-container .loading{padding-top: 90px;position: absolute;width: 100%;text-align: center;opacity: 0}
.regis-popup .regis-container .loading.popup-show{opacity: 1}
.regis-popup .regis-container .loading .loading-rotate{width: 70px;animation-name: loading-rotate;animation-duration: 0.8s;animation-iteration-count: infinite;animation-timing-function: linear;}
.regis-popup .regis-container .loading .loading-text{width: 130px;margin-top: 10px;}
@keyframes loading-rotate{
    0%   {transform:rotate(0deg)}
    100% {transform:rotate(-360deg)}
}
.regis-popup .regis-container .finish{z-index: 10;position: absolute;width: 100%;opacity: 0;display: none;}
.regis-popup .regis-container .finish.popup-show{opacity: 1}
.regis-popup .regis-container .finish h2{color: #5E2134;padding-top: 80px;}
.regis-popup .regis-container .finish a{width: 160px;position: relative;display: inline-block;margin-top: 10px}
.regis-popup .regis-container .finish a img{width: 100%}
.regis-popup .regis-container .finish a:active img{margin-top:3px}


@media (min-width: 1200px) {
  
  
}

@media (min-width: 992px) and (max-width: 1199px) { 
    

}

@media (min-width: 768px) and (max-width: 991px) {


}

@media  (max-width: 767px) {
}



@media (min-width: 451px) {
  #container{background-color: #abdff1 }
  .top-shade{height:42%}
  .shade-loading{height:42%}
  .shade-loading img{height: 100%}

  .view-container{z-index: 10}
  .bottom{width: 100%;bottom: 0px}
  .intro-bottom{position: absolute;width: 36%;left: 32%;bottom: 3%;z-index: 10}
  .sum-tree{position: absolute;width: 36%;left: 32%;bottom: 3%;z-index: 10}
  .regis-bag{position: absolute;width: 36%;left: 32%;bottom: 3%;z-index: 10}
  
  .view-container{background-color: transparent;top: 10px;margin-top: 0px;}
  .view-container .top-shade{display: none !important;}
  .view-container .shade-loading{display: none !important;}
  .view-container .bottom{display: none !important;}
  .view-container .intro-bottom{display: none !important;}
  .view-container .sum-tree{display: none !important;}
  .view-container .regis-bag{display: none !important;}

  .overlay-right img{width: 140px;left: 50%;margin-left: -50px;top: 40%;position: absolute;margin-top: -30px}
  .overlay-wrong img{width: 140px;left: 50%;margin-left: -50px;top: 40%;position: absolute;margin-top: -30px}
}

@media (min-width: 414px) and (max-width: 450px) {
    .view-container{width: 100%;height: 100%;margin-left: 0px;left: 0px;top: 0px;margin-top: 0px;}

    .visible-xxs{display: block !important}
    .hidden-xxs{display: none !important}
}
@media (min-width: 360px) and (max-width: 413px) {
    .top-shade{top: -12%}
    .shade-loading{top: -12%}
    .intro .next{top: 57%}
    .intro .loading-bar{height: calc(100% - 35%)}
    .instruction{
        -ms-transform: scale(0.9); 
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        top:-4%;
    }
    .game{
        -ms-transform: scale(0.9); 
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        transform-origin: top;
    }
    .sum{
        top:-4%;
    }
    .sum.sum-show{
        -ms-transform: scale(0.9); 
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    .regis{
        -ms-transform: scale(0.86); 
        -webkit-transform: scale(0.86);
        transform: scale(0.86);
        top:-4%;
    }
    .regis .regis-button{
        -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
         margin-top: -10px;
    }
    .view-container{width: 100%;height: 100%;margin-left: 0px;left: 0px;top: 0px;margin-top: 0px;}

    .visible-xxs{display: block !important}
    .hidden-xxs{display: none !important}
}


@media  (min-width:0px) and (max-width: 359px){
    
    .logo{top: 12%}
    .logo.open{top: 11%}
    .intro .intro-text{top: 48%}
    .intro .loading{top: 67%}
    .intro .loading-bar{height: calc(100% - 41%)}
    .intro .next{top: 61%}

    .instruction{
        -ms-transform: scale(0.7); 
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        top:-4%;
    }
    .game{
        -ms-transform: scale(0.74); 
        -webkit-transform: scale(0.74);
        transform: scale(0.74);
        transform-origin: top;
    }
    .game .point-container .point-item span{margin-top: -5px;font-size: 18px}
    .game .game-container{margin-top: 34%}
    .sum{
        top:-9%;
    }
    .sum.sum-show{
        -ms-transform: scale(0.76); 
        -webkit-transform: scale(0.76);
        transform: scale(0.76);
    }
    .regis{
        -ms-transform: scale(0.7); 
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        top:-8.5%;
    }
    .regis .regis-button{
        -ms-transform: scale(1.3); 
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        margin-top: -5px;
    }
    .regis-popup .regis-container{margin-top: 100px;}
    .view-container{width: 100%;height: 100%;margin-left: 0px;left: 0px;top: 0px;margin-top: 0px;}

    .visible-xxs{display: block !important}
    .hidden-xxs{display: none !important}
}

@media  (max-device-height: 480px){
    .sum-tree{display: none!important;}
    .regis-bag{display: none!important;}

    .bottom{bottom: -16%}
    .bottom.game-bottom{bottom: -20%}
    .intro-main{
        -ms-transform: scale(0.8); 
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        transform-origin: top;
        top: 2%;
        z-index: 300;
    }
    .logo{top: 12%}
    .logo.open{top: 14%}
    .intro .intro-text{top: 56%}
    .intro .loading{top: 80%}
    .intro .loading-bar{height: calc(100% - 48%)}
    .intro .next{top: 77%}
    .intro-bottom{display: none !important}

    .instruction{
        -ms-transform: scale(0.65); 
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
        top:-10%;
    }
    .game{
        -ms-transform: scale(0.65); 
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
        transform-origin: top;
    }
    .game .point-container .point-item span{margin-top: -5px;font-size: 18px}
    .game .game-container{margin-top: 34%}
    .sum{
        top:-17%;
    }
    .sum.sum-show{
        -ms-transform: scale(0.65); 
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
    }
    .regis{
        -ms-transform: scale(0.65); 
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
        top:-13%;
    }
    .regis .regis-button{
        -ms-transform: scale(1.3); 
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        margin-top: -5px;
    }
    .regis-popup .regis-container{margin-top: 70px;}
    .regis .regis-container{height: 345px}
    .regis .regis-container .regis-input{position: relative;display: inline-block;width: 240px;border-radius: 5px;border:none;font-size: 17px;margin-bottom: 7px;z-index: 100;outline: none;padding-left: 8px;padding-right: 8px;line-height: 20px;padding-top: 4px;background-color: #A1887F;letter-spacing: 0.5px;font-family: 'db adman x'}
    .regis .regis-container .regis-desc{height: 55px}
}
@media (max-height: 414px) and (min-width: 700px){
  .please-rotate{display: block;}
}
@media (max-height: 375px) and (min-width: 620px){
  .please-rotate{display: block;}
}
@media (max-height: 320px) and (min-width: 420px){
  .please-rotate{display: block;}
}





