


body {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    color: #000;
    background-color: #fff;
    /*-webkit-font-smoothing: antialiased !important;*/
}

img{
    border:none;
}

.f-left{ float:left;}
.f-right{ float:right;}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

h1{
  
}
h2{
  
}
h4{
  
}

p{
  
}

a,a:hover,a:active,a:focus{
  text-decoration: none;
  cursor: pointer;
}

p,span,label,a,h1,h2,h3,h4,h5,h6{
  
}

h1,h2,h3,h4,h5,h6{
}


.t-black{
  color: #000 !important;
}

.t-white{
  color:#fff !important;
}


.nopadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.noborder{
  border:none !important;
}
.clear{
    clear:both;
}

.clear-padding{
    padding:0;
}

.clear-margin{
    margin:0;
}

.visible-xxs{display: none !important;}
.hidden-xxs{display: block !important;}

/* ------------------------------------------------ */
/* ------------ PADDING & MARGIN ------------------ */
/* ------------------------------------------------ */

.padding-0{padding: 0px !important}

.margin-top-0{margin-top: 0px !important}
.margin-top-5{margin-top: 5px !important}
.margin-top-10{margin-top: 10px !important}
.margin-top-15{margin-top: 15px !important}
.margin-top-20{margin-top: 20px !important}
.margin-top-30{margin-top: 30px !important}
.margin-top-40{margin-top: 40px !important}
.margin-top-50{margin-top: 50px !important}
.margin-top-80{margin-top: 80px !important}
.margin-top-100{margin-top: 100px !important}

.margin-bottom-0{margin-bottom: 0px !important}
.margin-bottom-5{margin-bottom: 5px !important}
.margin-bottom-10{margin-bottom: 10px !important}
.margin-bottom-15{margin-bottom: 15px !important}
.margin-bottom-20{margin-bottom: 20px !important}
.margin-bottom-30{margin-bottom: 30px !important}
.margin-bottom-40{margin-bottom: 40px !important}
.margin-bottom-50{margin-bottom: 50px !important}

.margin-left-0{margin-left: 0px !important}
.margin-left-5{margin-left: 5px !important}
.margin-left-10{margin-left: 10px !important}
.margin-left-15{margin-left: 15px !important}
.margin-left-20{margin-left: 20px !important}
.margin-left-30{margin-left: 30px !important}
.margin-left-40{margin-left: 40px !important}
.margin-left-50{margin-left: 50px !important}

.margin-right-0{margin-right: 0px !important}
.margin-right-5{margin-right: 5px !important}
.margin-right-10{margin-right: 10px !important}
.margin-right-15{margin-right: 15px !important}
.margin-right-20{margin-right: 20px !important}
.margin-right-30{margin-right: 30px !important}
.margin-right-40{margin-right: 40px !important}
.margin-right-50{margin-right: 50px !important}

.padding-left-0{padding-left: 0px !important}
.padding-left-5{padding-left: 5px !important}
.padding-left-10{padding-left: 10px !important}
.padding-left-15{padding-left: 15px !important}
.padding-left-20{padding-left: 20px !important}
.padding-left-30{padding-left: 30px !important}
.padding-left-40{padding-left: 40px !important}
.padding-left-50{padding-left: 50px !important}

.padding-right-0{padding-right: 0px !important}
.padding-right-5{padding-right: 5px !important}
.padding-right-10{padding-right: 10px !important}
.padding-right-15{padding-right: 15px !important}
.padding-right-20{padding-right: 20px !important}
.padding-right-30{padding-right: 30px !important}
.padding-right-40{padding-right: 40px !important}
.padding-right-50{padding-right: 50px !important}
.padding-right-60{padding-right: 60px !important}
.padding-right-75{padding-right: 75px !important}

.padding-bottom-0{padding-bottom: 0px !important}
.padding-bottom-5{padding-bottom: 5px !important}
.padding-bottom-10{padding-bottom: 10px !important}
.padding-bottom-15{padding-bottom: 15px !important}
.padding-bottom-20{padding-bottom: 20px !important}
.padding-bottom-30{padding-bottom: 30px !important}
.padding-bottom-40{padding-bottom: 40px !important}
.padding-bottom-50{padding-bottom: 50px !important}

.padding-top-0{padding-top: 0px !important}
.padding-top-5{padding-top: 5px !important}
.padding-top-10{padding-top: 10px !important}
.padding-top-15{padding-top: 15px !important}
.padding-top-20{padding-top: 20px !important}
.padding-top-30{padding-top: 30px !important}
.padding-top-40{padding-top: 40px !important}
.padding-top-50{padding-top: 50px !important}

#container{position: fixed;width: 100%;height: 100%;}

.view-container{width: 414px;height: 736px;background-color: #abdff1;position: relative;left: 50%;margin-left: -207px;top: 50%;margin-top: -368px}

/* ------------------------------------------------ */
/* ------------------- Intro ---------------------- */
/* ------------------------------------------------ */


.animation-target {
  

}



@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(1.316, 0, 0, 0, 0, 1.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.316, 0, 0, 0, 0, 1.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(1.45, 0, 0, 0, 0, 1.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.45, 0, 0, 0, 0, 1.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(1.659, 0, 0, 0, 0, 1.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.659, 0, 0, 0, 0, 1.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(1.883, 0, 0, 0, 0, 2.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.883, 0, 0, 0, 0, 2.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.942, 0, 0, 0, 0, 2.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.942, 0, 0, 0, 0, 2.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(2.123, 0, 0, 0, 0, 2.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.123, 0, 0, 0, 0, 2.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(2.141, 0, 0, 0, 0, 2.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.141, 0, 0, 0, 0, 2.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(2.208, 0, 0, 0, 0, 2.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.208, 0, 0, 0, 0, 2.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(2.212, 0, 0, 0, 0, 2.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.212, 0, 0, 0, 0, 2.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(2.196, 0, 0, 0, 0, 2.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.196, 0, 0, 0, 0, 2.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(2.151, 0, 0, 0, 0, 1.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.151, 0, 0, 0, 0, 1.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(2.134, 0, 0, 0, 0, 1.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.134, 0, 0, 0, 0, 1.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(2.063, 0, 0, 0, 0, 1.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.063, 0, 0, 0, 0, 1.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(2.048, 0, 0, 0, 0, 1.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.048, 0, 0, 0, 0, 1.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(1.979, 0, 0, 0, 0, 1.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.979, 0, 0, 0, 0, 1.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(1.972, 0, 0, 0, 0, 1.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.972, 0, 0, 0, 0, 1.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 2.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 2.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(1.966, 0, 0, 0, 0, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.966, 0, 0, 0, 0, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.991, 0, 0, 0, 0, 2.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.991, 0, 0, 0, 0, 2.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(2.006, 0, 0, 0, 0, 1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.006, 0, 0, 0, 0, 1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(2.007, 0, 0, 0, 0, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.007, 0, 0, 0, 0, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(2.001, 0, 0, 0, 0, 2.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.001, 0, 0, 0, 0, 2.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(1.999, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.999, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(1.316, 0, 0, 0, 0, 1.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.316, 0, 0, 0, 0, 1.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(1.45, 0, 0, 0, 0, 1.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.45, 0, 0, 0, 0, 1.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(1.659, 0, 0, 0, 0, 1.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.659, 0, 0, 0, 0, 1.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(1.883, 0, 0, 0, 0, 2.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.883, 0, 0, 0, 0, 2.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.942, 0, 0, 0, 0, 2.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.942, 0, 0, 0, 0, 2.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(2.123, 0, 0, 0, 0, 2.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.123, 0, 0, 0, 0, 2.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(2.141, 0, 0, 0, 0, 2.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.141, 0, 0, 0, 0, 2.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(2.208, 0, 0, 0, 0, 2.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.208, 0, 0, 0, 0, 2.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(2.212, 0, 0, 0, 0, 2.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.212, 0, 0, 0, 0, 2.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(2.196, 0, 0, 0, 0, 2.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.196, 0, 0, 0, 0, 2.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(2.151, 0, 0, 0, 0, 1.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.151, 0, 0, 0, 0, 1.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(2.134, 0, 0, 0, 0, 1.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.134, 0, 0, 0, 0, 1.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(2.063, 0, 0, 0, 0, 1.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.063, 0, 0, 0, 0, 1.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(2.048, 0, 0, 0, 0, 1.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.048, 0, 0, 0, 0, 1.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(1.979, 0, 0, 0, 0, 1.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.979, 0, 0, 0, 0, 1.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(1.972, 0, 0, 0, 0, 1.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.972, 0, 0, 0, 0, 1.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 2.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 2.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(1.966, 0, 0, 0, 0, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.966, 0, 0, 0, 0, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.991, 0, 0, 0, 0, 2.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.991, 0, 0, 0, 0, 2.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(2.006, 0, 0, 0, 0, 1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.006, 0, 0, 0, 0, 1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(2.007, 0, 0, 0, 0, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.007, 0, 0, 0, 0, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(2.001, 0, 0, 0, 0, 2.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.001, 0, 0, 0, 0, 2.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(1.999, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.999, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


.intro{position: relative;width: 100%;height: 100%;}
.top-shade{position: absolute;top: -9%;left: 0px;width: 100%;opacity: 0.8}
.shade-loading{position: absolute;top: -9%;left: 0px;width: 100%;}
.shade-loading img{width: 100%;position: absolute;top: 0px;left: 0px;}
@keyframes shade1{0%{opacity:1;}25%{opacity:0;}50%{opacity:0;}75%{opacity:0;}100%{opacity:1;}}
@keyframes shade2{0%{opacity:0;}25%{opacity:1;}50%{opacity:0;}75%{opacity:0;}100%{opacity:0;}}
@keyframes shade3{0%{opacity:0;}25%{opacity:0;}50%{opacity:1;}75%{opacity:0;}100%{opacity:0;}}
@keyframes shade4{0%{opacity:0;}25%{opacity:0;}50%{opacity:0;}75%{opacity:1;}100%{opacity:0;}}
.shade-loading .shade-1{animation-name: shade1;animation-duration: 1.6s;animation-iteration-count: infinite;}
.shade-loading .shade-2{animation-name: shade2;animation-duration: 1.6s;animation-iteration-count: infinite;}
.shade-loading .shade-3{animation-name: shade3;animation-duration: 1.6s;animation-iteration-count: infinite;}
.shade-loading .shade-4{animation-name: shade4;animation-duration: 1.6s;animation-iteration-count: infinite;}


.seven{position: absolute;width: 36%;left: 32%;top:2%;}
@keyframes logo{
    0%   {margin-top: -5px}
    50%  {margin-top: 5px}
    100% {margin-top: -5px}
}
.logo{position: absolute;width: 46.5%;left: 27.75%;top:13%;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
}

.logo.open{
    animation: animation 1000ms linear;
}
.logo.swing{
  animation: logo ease-in-out infinite 1.8s;
   -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari */
    transform: scale(2);
}

.bottom{position: absolute;width: 100%;left: 0px;bottom:-3%;}

.intro .next{position: absolute;width: 56%;left: 22%;top: 58%;display: none;}
.intro .intro-text{width: 56%;left: 22%;top:42.5%;position: absolute;}
.intro .loading{width: 70%;left: 15%;top:60%;position: absolute;height: 6.2%;z-index: 20}
.intro .loading img{width: 100%;;height:100%;position: absolute;z-index: 10}
.intro .loading-bar{position: absolute;left: 1.2%;top: 1.2%;height: calc(100% - 8%);width: calc(100% - 2.4%);background: #F65A60;border-top:9px solid #DB5660;}
.intro .loading-bar.animate{animation-name: load;animation-duration: 5s;animation-iteration-count: 1;}
.intro .intro-bottom{position: absolute;width: 86%;left: 5%;bottom: 5%}
@keyframes load{
    0%   {width: calc(0% - 2.4%)}
    40%  {width: calc(65% - 2.4%)}
    100% {width: calc(100% - 2.4%)}
}


@media (min-width: 1200px) {
  
  
}

@media (min-width: 992px) and (max-width: 1199px) { 
    

}

@media (min-width: 768px) and (max-width: 991px) {


}

@media  (max-width: 767px) {
}



@media (min-width: 568px) and (max-width: 767px) {
  
  
  
}

@media (min-width: 414px) and (max-width: 414px) {
    .view-container{width: 100%;height: 100%;margin-left: 0px;left: 0px;top: 0px;margin-top: 0px;}

    .visible-xxs{display: block !important}
    .hidden-xxs{display: none !important}
}
@media (min-width: 375px) and (max-width: 413px) {
    .view-container{width: 100%;height: 100%;margin-left: 0px;left: 0px;top: 0px;margin-top: 0px;}

    .visible-xxs{display: block !important}
    .hidden-xxs{display: none !important}
}


@media  (min-width:0px) and (max-width: 374px){
    .view-container{width: 100%;height: 100%;margin-left: 0px;left: 0px;top: 0px;margin-top: 0px;}

    .visible-xxs{display: block !important}
    .hidden-xxs{display: none !important}

}